/* common shared Styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-color {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: (#FFF);
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    padding:16px 35px;
}

/* nave styles */
nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0px 200px;
}

.nav-title {
    color:  #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    font-size: 21px;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}
/* header related styles */
.had{
    background-color:#FFF8F3;;
}

.bannar{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.bannar .profile-pic{
    width: 400px;
    height: 450px;
}